extends layout

block content
  h1= title
  p Welcome to #{title} for Bitcoin

  h2 Tweets
  table
    thead
      tr 
        th CreatedAt
        th Text
        th Sentiment
    tbody
      each tweet, i in tweets
        tr
          th= tweet.createdat
          th= tweet.text
          th= tweet.score

