extends layout

block content
  h1= title
  p Welcome to #{title} for Bitcoin
  h4 Average sentiment of tweets: #{avgscore}
  h2 Tweets
  table
    thead
      tr 
        th CreatedAt
        th Text
        th Sentiment
    tbody
      each tweet, i in tweets
        tr
          td= tweet.source
          td= tweet.createdat
          td= tweet.text
          td= tweet.score

